$black: #000;
$black-translucent: rgba(0, 0, 0, .5);
$white: #fff;
$gray: #999;
$light-blue: rgb(109, 172, 236);
$lighter-blue: rgb(130, 200, 250);

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Sunflower', sans-serif;
  font-size: 16px;
  background-color: $black;
}

.wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  .cams {
    height: 100vh;
    width: 70vh;
    overflow: hidden;
    position: relative;

    &-dave {
      width: 100%;
      height: 100%;

      video {
        position: relative;
        left: -50vh;
        height: 100%;
      }
    }

    &-user {
      position: absolute;
      top: 0;
      right: 0;
      width: 16vh;
      height: 24vh;
      margin: 4vh;
      overflow: hidden;

      video {
        height: 100%;
        left: -25%;
        position: absolute;
        transform: scaleX(-1);
      }
    }
  }

  .controls {
    position: absolute;
    bottom: 0;

    img {
      width: 10vh;
      height: 10vh;
      margin: 2vh;
      cursor: pointer;
    }
  }
}

.splash {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $black-translucent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: visibility .5s, opacity .5s;

  &-text {
    width: 40vw;
    height: auto;
    padding: 3vh;
    background-color: $white;
    border: 0;
    border-radius: 2vh;

    h1 {
      text-align: center;
      margin: 0;
    }

    p {
      margin-bottom: 0;

      &:last-of-type {
        display: inline-block;
      }
    }

    button {
      background-color: $light-blue;
      color: $white;
      border-radius: 8px;
      padding: 10px 20px;
      margin: 0 20px;
      outline: 0;
      border: 0;
      font-size: 16px;
      cursor: pointer;
      font-family: 'Sunflower', sans-serif;
      transition: background-color .5s;

      &:hover {
        background-color: $lighter-blue;
      }

      &:active {
        background-color: $light-blue;
      }
    }
  }
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.debug {
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(50vw - 35vh);

  .speech, .intent {
    width: calc(100% - 20px);
    height: 30px;
    color: $white;
    border: 0;
    padding: 0 10px;
    background-color: $black;
    font-family: 'Courier', sans-serif;
    font-size: 12px;
  }

}
